* {
	word-break:break-all;
	background: #f9eeed;
}
h1 {
	margin: 0px !important;
}
a {
	text-decoration: none;
}
.order-area > div {
	float: left;
	width: 50%;
	overflow: hidden;
}
.btn {
	margin-top: 10px;
	padding: 5px 50px;
	background: red;
	color: white;
	border: none;
	border-radius: 3px;
	border: 2px solid white;
}
.white {
	background: white;
	color: red;
	border: 2px solid red;
}
.random-area,
.selection-area,
.order-area {
	margin: 15px;
	padding: 5px;
}
.random-area,
.selection-area {
	border: 2px solid red;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
button:disabled {
	opacity: 0.25;
}

/*==========Menu==========*/
.menu {
	width:200px;
	height: 100%;
	position: absolute;
	left: -200px;
	top:0;
	background: red;
}
.menu ul {
	background: red;
}
.menu li {
	list-style: none;
	padding: 5px;
	background-color: red;
}
.menu li a {
	color: white;
} 
#closeButton {
	background-color: red;
}
#menuButton,
#closeButton {
	margin-top: 10px;
}
#menuButton a,
#closeButton a {
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
	background: white;
	padding: 10px;
	color: red;
	border-radius: 0px 0px 5px 0px;
}

